 <div class="page-header" >
  <h1 class="text-info">关于Modular-2 项目</h1>
 
  <img src="/images/m-2.png" width="50%">
   <h2>概述</h2>
  <p>&ensp;&ensp;modular-2 是一台工业级模块化电脑，基于Arm 公司 Cortex-M 系列处理器，采用Arm 公司Mbed OS操作系统。设计modular-2的主要目的是为了提高小型化智能设备，物联网设备的开发效率。缩短研发周期，加快上市时间，最终达到降低成本的目的。</p>
  <h2>设计理念</h2>
  <h3>易学，不费力气可以学会大多数功能</h3>
  <p>&ensp;&ensp;设计modular-2时，我们受到了ardunio，树莓PI的启发，要设计一台初学者能够快速上手，有经验工程师得心应手的嵌入式设备。让使用者不费力气就可以使用大多数功能。其实ardunio已经达到了这个目的。事实上成千上万的学生使用arduino学习嵌入式程序设计和智能设备的开发。硬件工程师也使用这种廉价的电脑板搭试电路和产品原型。但是ardunio 只是一个AVR 8 位单片机为主的小电脑，处理能力还是十分有限，如果要使用到网络协议，SPI和复杂一点的程序就力不从心了。</p>
  <p>&ensp;&ensp;市面上也出现了许多高性能的廉价单板电脑，比较出名的是树莓PI。最新的树莓PI
3基于Cortex-A53 高性能处理器，使用linux操作系统。可以运行C++，Java，python等各种开发环境，比较适合教育领域。但是我们觉得在linux下的设计嵌入式实时应用程序略显复杂。而且嵌入式工程师往往对linux 操作系统并不熟悉。
</p>

<h3>可扩展，具有非常大的灵活性</h3>
<p>&ensp;&ensp;modular-2 充分地采用了模块化设计理念，主板上设计了IO扩展总线和网络扩展总线，并且针对工业控制，数据采集，物联网，智能设备开发了丰富的IO模块和网络模块。多个modular-2既可以通过ethernet，wifi ，NB-iot，LoRa 网连接，也可以通过独特的EtherDiary 以太网级联网和Serial Diary 串口级联环网构成功能强大的分布式网络。   
 </p>
<h3>直接开发出最终产品</h3> 
<p> &ensp;&ensp;芯片公司为了让工程师们评估他们的产品，开发了各种开发板。以前原厂的开发板都普遍比较贵，现在情况有了改善，像ST公司也提供低价格的开发板。使用他们来搭试产品的样机，或者评估还是可以的。不过几乎所有的各种开发板都有一个致命的缺点，开发板的接口，或者插针遍布PCB四面，无法作为最终产品递交和长期在工业环境使用。</p>  
<p> &ensp;&ensp;ardunio ，树莓PI们给样机搭建带来了方便，但是它们并没有降低嵌入式设备开发的成本。当样机实验完成后，哪怕是交付10台设备，我们也需要从头再来，设计自己的硬件电路，PCB，设计目标MCU的程序，元器件采购，调试生产。这么漫长的研发制造过程。</p>
 <p>我们希望设计这么一台设备，用户可以针对具体的应用项目，通过少部份的二次开发，可以迅速地递交最终产品。</p>
<h3>合理的价格</h3>
<p>&ensp;&ensp;我们深信，一个复杂，昂贵的产品是无法被大众所接收的，但是，低价格不能以牺牲性能和可靠性为代价。 我们以相对比较低的价格提供高性能硬件产品，以推动智能产品的高效率研发。  
</p>
  <h2>模块化结构</h2>
  <p>硬件敏捷设计的主要方法就是模块化。正如它的名字一样，modular-2 基于模块化设计理念设计，我们针对工业控制和物联网应用，开发了各种IO模块和网络模块。</p>
  <h2>Mbed OS操作系统</h2>
  <p>&ensp;&ensp;采用什么样的软件开发环境至关重要。Arm 公司的开发环境Keil 是cortex-M系列CPU主要的开发工具，但是它是面向专业软件人员使用的软件。虽然最近几年有了很大的改善。使用起来还是比较麻烦的。为了寻找一个容易上手，使用方便的开发环境，我们做了许多的尝试，当Arm 公司的Mbed OS 出现后，特别是Mbed OS 5.0之后，我们觉得它是我们想要的modular-2 操作系统。</p>
  <p>&ensp;&ensp;对于小型嵌入式设备来讲，配置了Mbed OS的modular2 就像最初的个人电脑一样，有着巨大的潜能，通过将复杂的开发环境简单化，使得开发环境对更多的开发人员开放。</p>
<p>对于任何一个特定的应用，如果稍微增加一点成本来购买一个通用的系统，由此而获得的更低的开发成本，更好的系统可靠性，可扩展性将是更加划算的。尽管对于一个巨大的嵌入式市场，材料成本仍将是重要的，起关键作用的因素。但是对于明显增长嵌入式市场，易于开发，代码复用，灵活性和与其他高级系统融合的优势日益成为决定因素。</p>

  <h2>设计目标</h2>
  <p>1	既可以作为样机搭试，又可以构成正式产品交付.</p>
  <p>2	面向专业应用，配备外壳，工业级接插件。适合工业环境长期使用。</p>
  <p>3	用户可以扩展I/O接口板。融入自己的技术和知识。</p>
  <p>4	可以通过网络互连，扩展功能。</p>
  <p>5	好用，不费力可以学会90%的功能</p>
  <p>6	功能确定性，没有是是而非的东西，让用户丈二和尚摸不着头脑。</p>
  <h2>modular2Cloud</h2>
  <p>modular2Cloud 是我们为modular-2 开发的一个物联网应用服务器。它具有如下特点：</p>
  <p>1 支持LWM2M 协议和IPSO 信息模型</p>
  <p>2 可以连接中国移动NBiot 接入网,上海国动LoRa，CoAP ，和Http 多种方式接入<p>
  <p> 支持Arm 公司pelion iot 云端服务</p>
  <p> 与应用无关的通用应用服务器<p>
  <p> 扩展的IPSO 信息模型，支持modbus，RS485 等工业标准<p>
  <h2>modular2Edu</h2>
  <p>&ensp;&ensp;Modular2Edu 是modular2 模块化电脑应用于教育领域的实验课计划。Modular2Edu 适合于大学本科物联网专业，电子工程，自动化，嵌入式程序设计等专业学生作为实训课程或者学生创新实验活动的项目。</p>   
<h3>项目涵盖了丰富的领域</h3>
<p>智能家庭，安防。</p> 
<p>工业控制和自动化。</p>
<p>物联网。  </p>
<p>智能硬件。</p> 
<p>智慧农业。</p> 
<p>数字娱乐。</p> 
<p>数字健康。</p> 
<p>财产追踪。</p>
<h3>学习者知识背景</h3>
<p>&ensp;&ensp;参加本实验课的学习者需要具有下面的知识背景</p> 
<p> C 语言程序设计基础。</p>   
<p>C语言程序设计的基础知识和编程经验，由于MbedOS 是基于C++程序设计语言语言，许多API 使用了C++中的类实现，所以如果了解C++ 面向对象程序设计更好。</p> 
<p> 计算机网络技术和通信技术。</p>  
<p> Cortex-M 单片机硬件基础及应用。</p> 
<p> 操作系统原理。</p> 

  

  
 