  <div class="page-header" >
  <h1 class="text-info">Modular-2 工业级模块化电脑</h1>
</div>
<div>
<h2>概述</h2>
<p>设计modular-2时，我们受到了ardunio，树莓PI的启发，要设计一台普通人能够快速上手使用的嵌入式设备。不费力气就可以使用大多数功能。其实ardunio已经达到了这个目的。事实上成千上万的学生使用arduino学习嵌入式程序设计和智能设备的开发。硬件工程师也使用这种廉价的电脑板搭试电路和产品原型。但是ardunio 只是一个Avr 8 位单片机为主的小电脑，处理能力还是十分有限。
  而树莓PI使用linux操作系统。用它来控制硬件由略显复杂。</p>
  
<p>芯片公司为了让工程师们评估他们的产品，开发了大量开发板，以前原厂的开发板都普遍贵，现在情况有了改善，像ST公司也提供低价格的开发板。使用他们来开发产品的样机，或者评估还是可以的。
但是，几乎所有的各种开发板都有一个致命的缺点，他们只适合评估和搭试样机，无法直接用于产品中。开发板的接口，或者插针遍布PCB四面，无法作为最终产品递交和长期在工业环境使用。
</p>
<h2>结构</h2>
<p>为了实现Modular-2 的设计目标，我们在结构上花费了一些心思，modular-2 设计成三块PCB组成，它们分别是主板，IO扩展板和网络连接板。</p>
<img src="/images/modular-2inside.png"></img>
<h2>主板</h2>
<p>Modular-2的主板以一个ST公司Cortex-M系列单片机为主的构成电路板。主板的基本特性如下：</p>>
<p>1  144Pin 的SOC,STM32F429/746
<p>2  DAP-Link 模块用于程序下载，调试
<p>3  OTG USB接口
<p>4  Ethernet接口
<p>5  SD卡座
<p>6  EEPROM
<p>7  2.5V 模拟参考电压。
<p>8  72 线I/O 扩展板总线(我们称为PinBUS 总线)插座. 
<p>9  22线网路扩展板总线 
<p>10 一个Pwer/Comm 接口插座

<h2>IO扩展板</h2>
<p>I/O 模块的尺寸为 74mmx80mm，通过2个16Pin 插座和1个40Pin。共计72Pin的PinBUS总线与主板连接，通过标准的工业接线端子与外部连接。</p>
<p>我们针对各种应用场景，开发了丰富的I/O扩展板和网络连接板。同时，我们也鼓励和协助用户开发发挥自己技术专长和知识产权的I/O扩展板。</p>
<p>Modular-2 主板上的PinBUS 总线插座上可以插入各种I/O扩展板。</p>
<p>6路光电隔离数字输入/输出板</p>
<p>8路20mA 模拟输入板,24bit ADC</p>
<p>4 路RS485 接口板</p>
<p>8路内置ADC/DAC</p>
<h2>网络连接板</h2>
<p>modular-2 的主板上集成了Ethernet 接口。可以实现网络连接，除此以外，设立了一个网络扩展总线(ConnectBus)插座。该插座能支持：</p>
<p>1 路SPI</p>
<p>1 路异步串口(UART)</p>
<p>复位</p>
<p>网络扩展总线上既可以插入无线模块，也可以插入有线通信模块。有线通信模块通过TX+，TX-，RX+，RX- 四个差分I/O接口连接到主板的Power/Comm 插座。
可以在该插座上插入各种通信模块，他们包括：</p>

<p>-WIFI 模块</p>
<p>-以太菊花链（EtherDiary）模块</p>
<p>-GPRS模块</p>
<p>-NB-iot模块</p>
<p>-Lora 模块</p>
<p>-蓝牙模块</p>
<p>-低速RS485菊花链模块</p>
<p>-GPS 模块</p>

</div>