  <div class="page-header" >
  <h1 class="text-info">技术文档</h1>
</div> 
  <div class="row">
  <div class="col-md-2">
 <div class="list-group">
  <a href="#" class="list-group-item active">简介</a>
     <a href="#/docs_ipso" class="list-group-item">IPSO 智能对象</a>
   <a href="#/docs_lwm2m" class="list-group-item">LWM2M协议</a>
  <a href="#/docs_coap" class="list-group-item">CoAP 协议</a>
  <a href="#/docs_tocloud" class="list-group-item">mbed 软件编程</a>
  <a href="#/docs_webAPI" class="list-group-item">Web API</a>
</div>
  </div>
  <div class="col-md-6" >	
<h3>简单易用，快速接入</h3>
<p>Modular2Cloud  是为modular2 模块化电脑开发的一个轻量级物联网平台.它秉承了modular2 "易学好用，快速部署"的设计理念，让用户可以快速地测试和部署IoT应用项目。技术上它具有如下特点：</P>
<h3>采用了IPSO 信息模型</h3>
<p>这样做的好处在于平台和应用无关，无论设备是一个电表网关，还是一个设备检测系统，都可以方便地接入平台，不需要在平台上设置大量与应用相关的参数。</P>
<h3>支持多种协议和接入方式</h3>
<p>支持中国移动的Onenet，上海国动LoRA接入网，Arm 物联网服务pelion，支持MQTT，CoAP/UDP ,HTTP 协议。</p>
<h3>RESTFull API</h3>
<p>提供了完善的web API 供用户开发与应用有关的特定APP或者应用软件</p>
<h3>MQTT 即时通讯</h3>
</div>
</div>