<div class="jumbotron" style="color:#fff;background-image:url(./images/topbanner.jpg);background-repeat:no-repeat; background-size:100%;">
  <h1 class="text-info">物联网应用平台</h1>
  <p> </p>
  <p><a class="btn btn-primary btn-lg " href="#/platform" role="button">了解更多</a></p>

</div>
<div class="container">
<div class="col-xs-12 col-sm-4 col-lg-4 bfn-clear">
<h2 class="text-center">模块化电脑</h2>
<p>&nbsp &nbsp modular2 是一台基于Arm Mbed OS 操作系统的模块化电脑，帮助用户可以快速开发物联网应用产品，并作为最终产品递交，部署。</p>
<div class="text-center"><a href="#/board" class="btn btn-info">更多</a></div>
</div>
<div class="col-xs-12 col-sm-4 col-lg-4 bfn-clear">
<div class="text-center"><h2 class="text-center">多平台接入</h2></div>
<p>&nbsp &nbsp modular-2 可以接入中国移动oneNet，中国电信ocean connect，和LoRa多种物联网平台，同时支持CoAP,MQTT,HTTP等多种互联网接入协议。</p>
<div class="text-center"><a href="#/platform" class="btn btn-info">更多</a></div>
</div>
<div class="col-xs-12 col-sm-4 col-lg-4 bfn-clear">
<h2 class="text-center">统一数据管理</h2>
<p>&nbsp &nbsp modular2Cloud实现了一个平台管理不同接入网中的物联网设备。支持LWM2M 协议和IPSO信息模型。可以对不同物联网上的设备实现控制，数据采集和可视化</p>
<div class="text-center"><a href="#/doc_datamanagment" class="btn btn-info">更多</a></div>
</div>
</div>
 